@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  background-color: #ded2a8;
}

.logo {
  margin-right: 20px;
}

.header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #302718;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: inherit;
  font-size: 3rem;
  margin: 10px 20px;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  white-space: normal;
  padding: 15px;
  padding-top: 0;
}

.container img {
  width: 1157px;
  height: 560px;
}

.content {
  margin: 10px 3%;
  padding: 4px;
  background-color: #f3ecd2;
  color: #699e3c;
  font-size: 24px;
  font-weight: 560;
}

#overview img {
  width: 300px;
  height: 200px;
  float: right;
  margin: 5px;
}

#example1 img {
  width: 580px;
  height: 397px;
  float: left;
  margin: 5px;
}

#example2 p,
#example3 p {
  margin-bottom: 0px;
}

#example2 img {
  width: 400px;
  height: 300px;
  float: right;
  margin: 5px;
}

#example3 img {
  width: 400px;
  height: 600px;
  float: left;
  margin: 5px;
}
