@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0px;
}

.header {
  position: relative;
  width: 100%;
}

.site-logo {
  width: 5%;
  height: 5%;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

.site-logo img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/* shine effect, create diagonal bar and animate across on hover */
.site-logo::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 10%;
  height: 100%;
  background: rgba(255, 255, 255, 0.815);
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.site-logo:hover::after {
  top: 100%;
  left: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.mainImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("/assets/pexels-matt-r-314917881-23990911.jpg") no-repeat
    center center/cover;
  z-index: 0;
}

.hero-div {
  position: relative;
  margin: 80px auto 0;
  width: 20%;
  max-width: 70vw;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 1;
}

.card-container {
  position: relative;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  white-space: normal;
  padding: 1rem 1rem;
  background-color: #f1f1f1;
  text-align: center;
}

.card-container h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: black;
}

.content-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 1rem;
  width: 30%;
  min-width: 10rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #699e3c;
  flex-grow: 1;
  font-size: 24px;
  font-weight: 560;
}

.content img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f1f1f1;
  z-index: 0;
}

@media (max-width: 860px) {
  nav a {
    font-size: 1rem;
  }
  .logo {
    width: 60px;
    height: 60px;
    margin-right: calc((100% - 120px - 240.65px) / 2);
  }

  .logo img {
    width: 60px;
    height: 60px;
  }
  .search {
    padding-top: 8px;
  }
  .btn {
    margin-top: 8px;
  }
  .search .input {
    font-size: 14px;
    padding: 8px;
    height: 30px;
    width: 30px;
  }
  .search.active .input {
    width: 100px;
  }
  .btn {
    height: 30px;
    width: 30px;
  }
  .search.active .btn {
    transform: translateX(70px);
  }
}
